@import '../styles/variables';

.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $text-light;
    cursor: pointer;
    z-index: 1;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }

    .chevron {
      font-size: 79px;
    }
  }

  .carousel-counter {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: $text-light;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    font-family: $font-family;
  }

  @media (max-width: 768px) {
    height: 225px;

    .carousel-button {
      &.left {
        left: 5px;
      }

      &.right {
        right: 5px;
      }

      .chevron {
        font-size: $font-size-title;
      }
    }

    .carousel-counter {
      display: none;
    }
  }
}
