.collapse {
  width: 100%;
  max-width: 1023px;
  margin-bottom: 38px;

  .collapse-header {
    background-color: #FF6060;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;

    .icon {
      font-size: 18px;
    }
  }

  .collapse-content {
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 18px;
    color: black;
    border-radius: 0 0 5px 5px;
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from { opacity: 0; max-height: 0; }
  to { opacity: 1; max-height: 500px; }
}

@media screen and (max-width: 768px) {
  .collapse {
    margin-bottom: 20px;
    .collapse-header {
    height: 30px;
    font-size: 18px;
  }
   .collapse-content {
    font-size: 12px;
  }
  }
    
}