@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import './variables';

body {
  margin: 0;
  font-family: $font-family;
}

.layout-container {
  padding: 0 100px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
