// Couleurs principales
$primary-color: #FF6060;
$secondary-color: #E3E3E3;
$background-dark: #000000;
$text-light: #ffffff;

// Font
$font-family: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-size-title: 24px;
$font-size-small: 12px;